POSTGRES_DB=fusionauth_db
POSTGRES_USER=fusionauth
POSTGRES_PASSWORD=fusionauth123

#data_base_connect = "postgresql+psycopg2://fusionauth:fusionauth123@127.0.0.1:5432/fusionauth_db"

API_KEY_FusionAuth=asdfghjklñ