__pycache__
venv
.venv
*.log
status.json
private_key.pem
logs-orchestator/status/status.json
api-mail-alert/json/summary_consolidate.json
playbacks-around/modules/exception.py
.env

env/
venv/
.venv/
ENV/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# IDEs y Editores
.vscode/
.idea/

# Archivos de configuración sensible / entorno
.env
*.log
docker-compose.override.yml